:root{
    --background-principal: #fb0404;
    --fondo-secundario : rgb(67, 25, 203);
    --background-image : url("../img/debut-1.webp");
}

body{
    background-color: var(--background-principal);
    background-image: var(--background-image);
    color : #fff;
}


h1{
    color : #fff;
    font-size: 20px;
}